.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    padding: 20px;
}

.header img {
max-width: 250px; 
height: auto;
}

.navbar {
    background-color: aquamarine;
    color: black;
    padding: 10px;
    text-align: center;
}

.footer {
    background-color: rgb(12, 243, 231);
    padding: 10px;
    text-align: center;
}