<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca</title>
</head>
<body>
    <h1>Acerca de OnlyFlans</h1>
    <h3>OnlyFlans es una empresa enfocada en el mundo de la
        pastelería y los postres, en especial en la venta de flan(de ahí
        su nombre), nace en 2021 en Santiago de Chile como una
        empresa familiar que pretende entregar productos de calidad
        a su clientela, estando ubicada en Providencia, a pasos del
        metro Parque Bustamante.</h3>

</body>
</html>